body {
    font-family: 'Montserrat-regular', sans-serif;
}


/****Navigation Bar*************/

.navbar {
    padding: 0.5rem 0 0.5rem;
    animation: moveInRight 1s ease-out;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

.navbar-nav,
.navbar-nav .nav-item:hover .nav-link {
    color: #5676F3;
}


/************title************/

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/header.jpg") center/cover no-repeat fixed;
    margin-top: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.hero .title {
    color: #ffff;
    font-size: 5rem;
    animation: moveInLeft 1s ease-out;
}


/*****Overview*****/

.overview_section {
    padding-top: 6%;
    padding-bottom: 3%;
}

.about {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #5676F3;
    padding-bottom: 3%;
}

.about h2 {
    animation: moveInLeft 1s ease-out;
}

.about h3 {
    animation: moveInRight 1s ease-out;
}

.overview-img {
    width: 100%;
    height: 80%;
    border: solid 10px transparent;
}

.overview-img:hover {
    border-color: #5676F3;
}

.overview-content {
    text-align: justify;
    text-justify: inter-word;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/*****************Footer section***************/

footer {
    padding: 3% 3%;
    margin-top: 3%;
    background-color: #5676F3;
}


/******** Placment Section **********/

.placement_section {
    margin-left: 2%;
    margin-right: 2%;
    padding: 7% 7%;
}

.plac-heading {
    font-style: italic;
}

.placement-heading {
    animation: moveInLeft 1s ease-out;
}

#gallery {
    padding: 40px;
    background: white;
}

.gallery-item {
    background: linear-gradient(rgba(241, 161, 13), rgb(rgb(255, 165, 0)));
}

.gallery-item img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease;
}

.gallery-item img:hover {
    opacity: 0.5;
}

@media screen and (min-width:576px) {
    #gallery-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    #gallery-center {
        grid-template-columns: repeat(4, 1fr);
    }
}


/************Testimonials**********/

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials1 {
    background-color: #2BAEDD;
}

.testimonial-heading {
    padding-top: 3%;
    padding-bottom: 3%;
}


/***********Achievements***********/

.achievement-body {
    margin-left: 2%;
    margin-right: 2%;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}